@import "tailwindcss";

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-sm: 510px;
  --breakpoint-md: 765px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
}
